@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor0: white;
    --cor1: black;
    --fonte0: Verdana, Geneva, Tahoma, sans-serif;

}

html, body {
    background-color: darkgray;
    min-width: 100vh;


}

header {
    background-color: var(--cor1);
    color: var(--cor0);
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;

}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: var(--cor0);
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}


section.normal {
    background-color: var(--cor0);
    color: var(--cor1);
}

section.dois, section.quatro {
    background-color: rgb(88, 88, 88);
    color: var(--cor0);
}

section.dois > p, section.quatro > p {
    background-color: rgba(0, 0, 0, 0.267);
    width: 400px;
    padding: 10px;
}

footer {
    background-color: var(--cor1);
    color: var(--cor0);
    text-align: center;
    padding: 5px;
}