@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor0: white;
    --cor1: black;
    --fonte0: Verdana, Geneva, Tahoma, sans-serif;

}


header {
    background-color: var(--cor1);
    min-height: 160px;
    max-height: 300px;
    height: 310px;
    margin-bottom: 20px;
}

h1 {
    font: normal 800 8vw var(--fonte0);
    min-width: 400px;
    text-align: center;
    color: var(--cor0);
    padding: 35px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--cor0)
}

header > p {
    text-align: center;
    color: var(--cor0);
    font: normal normal 1.2em var(--fonte0);
    padding: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
}

section#dois {
    background: var(--cor0) url(../imagens/background001.jpg) center no-repeat fixed;
    background-size: cover;
    color: var(--cor0);
}

section#quatro {
    background: var(--cor1) url(../imagens/background002.jpg) center no-repeat fixed;
    background-size: cover;
    color: var(--cor0);
}

p {
     font: normal normal 2vw var(--fonte0);
     padding: 10px;
}